[ req ]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn
req_extensions = v3_req

[ dn ]
C = CN
ST = Local
L = Local
O = My Smart Home
OU = Dayu Terminal
CN = dayu_gateway_001

[ v3_req ]
basicConstraints = critical,CA:false
keyUsage = critical,digitalSignature,keyEncipherment
extendedKeyUsage = clientAuth
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = dayu_gateway_001
