/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
/certs/*.key
/certs/*.csr
/certs/*.srl
/entry/src/main/resources/rawfile/gateway/server.key
Crash_*.dmp
*-runtime.log
cppcrash-*.log
/tools/face_conversion_output/
/output/
/.vscode/
/*.jpeg
/*.jpg
/*.wav
/*.raw
/*.log
/hilog-*.txt
/api-state-debug.json
/third_party/ncnn/*
!/third_party/ncnn/build-ohos-arm64/
!/third_party/ncnn/build-ohos-arm64/install/
!/third_party/ncnn/build-ohos-arm64/install/**
