/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
/certs/*.key
/certs/*.csr
/certs/*.srl
**/resources/rawfile/gateway/*.key
Crash_*.dmp
*-runtime.log
cppcrash-*.log
/broker.stdout.log
/broker.stderr.log
/broker.log
/broker.err.log
/start-broker.log
/start-broker.err.log
/hilog-capture*.txt
/api-state-debug.json
/*.wav
/*.raw
/*.jpeg
/*.docx
/*.png
/output/
/.vscode/
/tools/face_conversion_output/
/third_party/ncnn/*
!/third_party/ncnn/build-ohos-arm64/
!/third_party/ncnn/build-ohos-arm64/install/
!/third_party/ncnn/build-ohos-arm64/install/**
